#wrapper{
    width: 150px;
    height: auto;
}
.buttons{
    padding: 10px 12.5px 10px 12.5px;
    font-size: 15px;
}
#display-wrapper{
    width: 150px;
    height: 30px;
    background-color: rgb(202, 206, 235);
}